<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Russell - Tableau de Bord</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/images/favicon/anchor.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= user.name %></h1>
      <h2><%= user.email %></h2>
      
      <!-- currentDate function from "javascript/date.js" (DD/MM/YYYY) -->
      <p>Nous sommes le : <span id="dateToday">...</span></p>
    </header>
    <main></main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/currentDate.js"></script>
  </body>
</html>
