<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/images/favicon/anchor.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!-- Home Page -->
  <body>
    <header>
      <h1>Port de Plaisance de Russell</h1>
      <p>
        Sur cette Application, vous pourrez gérer les Réservations de Catways afin de garantir un service-client qualitatif !
      </p>
    </header>
    <%- include('../partials/footer') %>
  </body>
</html>
