body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-container {
  display: none;
}

.dbclickMessage {
  font-size: 0.8rem;
  font-style: italic;
  display: inline;
}