<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon/anchor.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
