<nav class="nav">
    <ul class="nav__list1">
        <li>
            <a href="">Accueil</a>
        </li>
        <li>
            <a href="">Catways</a>
        </li>
        <li>
            <a href="">Réservations</a>
        </li>
        <li>
            <a href="">Utilisateurs</a>
        </li>
    </ul>
    <ul class="nav__list2">
        <li>
            <a href="">Documentation</a>
        </li>
        <li>
            <a href="/logout">Déconnexion</a>
        </li>
    </ul>
</nav>